<a class="tbd-card" href="{{permalink}}" target="_blank" rel="noopener noreferrer">
  <div class="tbd-head">{{avatar}}<div class="tbd-who"><span class="tbd-author">{{author}}</span><time class="tbd-date" datetime="{{created_at}}">{{date}}</time></div><span class="tbd-net" data-net="{{network_slug}}" data-mark="{{network_mark}}" title="{{network_name}}"></span></div>
  <p class="tbd-text">{{text}}</p>
  <div class="tbd-media" data-network="{{network_name}}" style="--tbd-ar:{{media_width}} / {{media_height}}">{{media}}</div>
</a>
